:root {
  --width: 70vw;
  --gap: 1rem;
}
html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #f9faf8;
}
.header,
.copyright {
  display: flex;
  background-color: #1f2937;
  color: #f9faf8;
  align-items: center;
  flex-direction: column;
  gap: var(--gap);
  padding: 1rem;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--width);
}
.nav-links {
  display: flex;
  margin: 0;
  padding: 0;
  gap: var(--gap);
}
.nav-links > a {
  text-decoration: none;
  color: #e5e7eb;
}
.nav-logo {
  font-size: 24px;
  font-weight: 500;
}
.hero {
  display: flex;
  width: var(--width);
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
}
.hero-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: var(--gap);
}
.hero-text > .heading {
  font-size: 48px;
  font-weight: 900;
}
.hero-text > .text {
  font-size: 18px;
  color: #e5e7eb;
}
.hero-img {
  width: 50%;
  display: flex;
  justify-content: center;
}
.hero-img > img {
  width: 80%;
}
.button {
  background-color: #3882f6;
  border-radius: 4px;
  color: #e5e7eb;
  border: 0;
  font-size: 18px;
  font-weight: 600;
}
.signup {
  width: 120px;
  height: 30px;
}
.content-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
}
.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 5rem;
  width: var(--width);
}
.cards {
  display: flex;
}
.card {
  max-width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  color: #1f2937;
  font-size: 13px;
}
.card-img {
  width: 120px;
  height: 150px;
  border: 2.5px #3882f6 solid;
  border-radius: 30px;
}
.info-heading {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}
.content-footer {
  width: 100%;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quote {
  display: flex;
  flex-direction: column;
  padding: 5rem;
}
.quote-text {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  font-weight: 200;
}
.quote-by {
  font-size: 36px;
  color: #1f2937;
  align-self: end;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
}
.footer-hero {
  display: flex;
  width: var(--width);
  border-radius: 10px;
  justify-content: space-between;
  color: #e5e7eb;
  align-items: center;
  background-color: #3882f6;
  padding: 20px;
}
.footer-header {
  font-size: 24px;
  font-weight: 700;
}
.footer-hero > .button-section > button {
  border: 1px white solid;
}
.copyright {
  padding: 15px;
}
